.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightyellow;
  width: 500px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 8px;
}

.App h1{
  text-align: center;
}

.form{
  align-items: center;
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-bottom: 12px;
}

.form input[type="text"]{
  padding: 10px;
  width: 85%;
  border: 1px solid white;
  border-radius: 6px;
}

.form input[type="text"]{
  outline: none;
}

.form button[type="submit"]{
  background-color: lightgreen;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.todolist-items{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-content{
  width: 60%;
}

.todo-item button{
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.todo-item button:focus{
  outline: none;
}

.update-item{
  background-color: lightsalmon;
  color: white;
}

.delete-item{
  background-color: indianred;
  color: white;
}

.update-form{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.update-new-input{
  width: 80%;
  bordor-radius: 6px;
  border: 1px solid white;
  padding: 8px;
  outline: none;
}

.update-new-btn{
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
}